/* imports font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* the same as selecting html but specificity is higher */
:root{
    /* gradiet Varaiable */
    --gradient: linear-gradient(45deg, #ffffff6d, #7edf5e93, #53d8a9, #1546da, #845ec2, #ec7753, #eb8fde, #f8ff70, #ffffff6d);
    background-image:var(--gradient);
    background-size: 600%;
    background-position: left;
    animation: grad-bg 40s infinite alternate;
}

@keyframes grad-bg {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

/* selects all elements */
*{
    margin: 0;
    padding: 0;
    /* makes rems and ems = 10px */
    font-size: 62.5%;
    /* font from google fonts */
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.8px;
}

h1{
    font-size: 5.2rem;
    color: rgba(255, 232, 250, 0.952);
    text-shadow: 2px 2px grey;
}

h4{
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
}
footer{
    position: relative;
    bottom: 180px;
}

/* main container to hold my card */
.contanier{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 10rem;
    text-align: center;
}

#rulesp {
    background: linear-gradient(0deg, rgba(205, 151, 182, 0.843) 0%, rgba(231, 176, 25, 0.898) 23%, rgba(231, 176, 25, 0.449) 40%, rgba(216, 164, 23, 0) 65%);
    /* box-shadow: -1px 2px  rgba(177, 177, 177, 0.251); */
    border-radius: 6px;
    padding: 3px;
    width: 600px;
    margin: auto;
    
}

.hidden{
    display: none;
}

.btn{
    text-align: center;
    color: rgba(245, 245, 245, 0.87);
    background:linear-gradient(90deg, rgb(78, 181, 255)10%, rgb(154, 141, 141)90% );
    border-radius: 10px;
    text-decoration: none;
    padding: 0.6rem;
}
.btn:hover {
    cursor: pointer;
    color: rgb(8, 8, 8);
    box-shadow: 0 0.6rem 1.8rem 0 rgba(201, 238, 141, 0.6);
    background:linear-gradient(90deg, rgb(78, 181, 255)0%, rgb(230, 255, 3)90%);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
}

/* media queries for responsivness */
@media screen and (max-width: 768px){
    .contanier{
        width: 100vw;
    }
    h4{
        position: relative;
        top: 19rem;
        font-size: 15px;
    }
}

@media screen and (max-width: 320px){
    .contanier{
        width: 60vw;
    }
    a{
        margin-left: 22rem;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .btn{
        margin-top: 2rem;
        font-size: 40%;
    }
    h1{
        font-size: 50%;
        width: 100vw;
        margin-left: 18rem;
        padding-right: 2rem;
    }
    h4{
        position: relative;
        top: 15rem;
        font-size: 15px;
    }
    #rulesp{
        width: 100vw;
        font-size: 40%;
        margin-left: 16.5rem;
    }
}

